<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {% render 'head.liquid',
      site: site,
      summary: summary,
      page: page,
      title: title,
      banner_image: banner_image,
      eleventy: eleventy
    %}
    <script
      defer
      data-domain="bikes.emilyhorsman.com"
      data-api="https://f.emilyhorsman.com/api/event"
      src="https://f.emilyhorsman.com/f.outbound-links.js"
    ></script>
  </head>
  <body class="{{ body_class }}">
    {% if draft %}
      <div class="draft-banner"><p>This is a draft post. Please don't share until it's done!</p></div>
    {% endif %}
    <header>
      <div>
        <a href="/">{{ site.title }}</a>
      </div>
      <div>
        <a href="/about/">About</a>
        <a href="/posts/">Archive</a>
        <a href="/posts/index.xml">RSS</a>
      </div>
    </header>
    <main>
      {% block main -%}
      {{- content -}}
      {%- endblock %}
    </main>
  </body>
</html>
