---
eleventyImport:
  collections: ["posts"]
pagination:
  data: collections.posts
  size: 20
  reverse: true
  addAllPagesToCollections: true
body_class: home
summary: An indieweb blog for my bike projects, riding, and life.
---
{% layout 'base.liquid' %}

{% block main %}
<p>An <a href="https://indieweb.org/" target="_blank">indieweb</a> blog for my bike projects, riding, and life.</p>

{% for post in pagination.items %}
  {% render 'post_summary.liquid', post: post, tags_metadata: tags_metadata %}
{% endfor %}

<div class="pagination">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}">‹ Newer</a>
  {% endif %}
  <span>Page {{ pagination.pageNumber | plus: 1 }} of {{ pagination.pages.size }}</span>
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}">Older ›</a>
  {% endif %}
</div>
{% endblock %}
