---
permalink: 404.html
title: 404
---
{% layout 'base.liquid' %}

{% block main %}
<h1>404 Page Not Found</h1>
<p>This URL doesn't exist! Check out the <a href="/posts/">posts archive</a>.</p>
{% endblock %}
